/* -------------------- Colors & Fonts & Grid System -------------------- */
/*
* Brown = #ce9300;
* Green = #0f7a50;
*
*/

@font-face {
    font-family: Poppins;
    src: url('../css/fonts/Poppins-Light.ttf');
}

::selection {
    background: #ce9300;
    color: #fff;
}

::-moz-selection {
    background: #ce9300;
    color: #fff;
}

body {
    overflow-x: hidden;
}

/* -------------------- NavBar ------------------- */

.top-nav {
    margin-top: 10px;
}

.top-nav .top-left {
    display: inline-flex;
    padding-top: 10px;
}

.top-nav .top-left p {
    padding-right: 5px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #000;
}

.top-nav .top-left .separator {
    margin-top: -1px;
}

.top-nav .top-right {
    float: right;
    display: inline-flex;
}

.top-nav .top-right p
{
    margin: 0;
    padding-top: 9px;
    padding-right: 10px;
    font-family: Poppins, sans-serif;
    color: #000;
    font-weight: 700;
}

.top-nav .top-right img
{
    margin-top: -11px;
    margin-left: 5px;
}

.top-nav .top-right .button {
    background-color: #ce9300;
    padding: 0px 20px;
    margin-right: 15px;
    text-shadow: none;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 100;
}

.top-nav .top-right .cart i {
    font-size: 20px;
    padding: 4px 10px 0px 10px;
}

.top-nav .top-right .cart a {
    color: #000;
}

.mid-nav {
    margin-top: 35px;
}

.mid-nav .why-us {
    display: inline-flex;
    width: 100%;
}

.mid-nav .why-us p {
    font-size: 13px;
    font-weight: 700;
    padding-left: 8px;
    margin-top: 7px;
    color: #0f7a50;
}

.mid-nav .why-us img {
    height: 29px;
}

.mid-nav .logo img {
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 77px;
}

.mid-nav .data {
    padding-right: 0px;
}

.mid-nav .delivery {
    float: right;
}

.mid-nav .delivery h3 {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    text-align: right;
    line-height: 1.1;
}

.nav-bar {
    background-color: rgba(255, 255, 255, 0.35);
    margin-top: -75px;
    z-index: 999;
}

#header.sticky-header #header-wrap {
    position: inherit;
}

#header.full-header #primary-menu > ul {
    border: none;
}

#primary-menu {
    float: none;
}

#primary-menu ul li > a {
    line-height: normal;
    padding: 15px 5px 11px 22px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 14px;
}

#primary-menu ul li > a:hover {
    color: #ce9300;
}

#header.full-header #primary-menu > ul {
    width: 100%;
}

.nav-bar .nav-center {
    display: inline-flex;
}

#header.sticky-header #header-wrap {
    box-shadow: none;
    background-color: inherit;
}

body.stretched .container-fullwidth {
    padding: 0px;
    margin-top: -27px;
    z-index: 2;
}

body.stretched .container-fullwidth .row {
    margin: 0px;
}

.slider-image {
    height: 700px;
    background: url('../images/slider.png') center no-repeat;
    background-size: 100% 100%;
}

#header.sticky-header:not(.static-sticky) {
    height: 100px;
}

.slider-image .eat-healthy img {
    margin: 90px auto 0 auto;
    width: 55%;
}

.slider-image .eat-healthy .button-mini {
    padding: 11px 55px;
    height: 63px;
    line-height: 43px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #fff;
    font-size: 18px;
    margin-top: 65px;
    font-family: Poppins, sans-serif;
    text-shadow: none;
}

.slider-image .eat-healthy .button-mini:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.slider-image .eat-healthy .arrow {
    width: 45px;
}

.content-wrap {
    padding: 80px 0 0px 0px;
}

/* ---------------------- Items --------------------- */

.items {
    background-color: #e5e5e5;
    padding: 100px 0px 66px 0px;
}

.items h1 {
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 100;
    color: #000;
    margin-bottom: 0px;
}

.items img {
    margin: 0 auto;
}

.items p {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
    font-size: 18px;
}

.items .owl-carousel .owl-stage-outer {
    margin-top: 50px;
    margin-bottom: -132px;
}

.items .testimonial .item-img {
    position: relative;
    bottom: 194px;
    height: 230px;
    width: 165px;
    border: 1px solid #ce9300;
    padding: 2px;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.1);
}

.items .testimonial .item-img img {
    height: 100%;
    width: 100%;
}

.owl-carousel .owl-nav {
    display: none;
}

.items .testimonial {
    background-color: transparent;
    border: none;
    border-radius: inherit;
    box-shadow: none;
    padding: 0px;
}

.items .item-data {
    position: relative;
    background-color: #fff;
    top: 50px;
    width: 94%;
    left: 18px;
    box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.1);
    padding: 5px 10px 5px 0;
    min-height: 228px;
}

.items .item-data .data {
    margin-left: 160px;
    margin-top: 10px;
}

.items .item-data .data h3 {
    text-align: left;
    font-family: Poppins, sans-serif;
    margin: 0px;
    line-height: 1;
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ce9300;
}

.items .item-data .data span {
    background-color: #ce9300;
    color: #fff;
    padding: 2px 10px 0px 10px;
    float: right;
    font-family: Poppins, sans-serif;
    font-size: 18px;
}

.items .item-data .kind {
    margin: 7px 0;
    font-size: 15px;
    text-align: left;
    color: #b1b0b0;
    font-family: Poppins, sans-serif;
}

.items .item-data .content {
    margin: 16px 0 40px 0;
    font-size: 13px;
    text-align: left;
    color: #000;
    font-family: Poppins, sans-serif;
}

.items .item-data .center {
    margin: -34px;
    position: absolute;
    bottom: 43px;
    right: 41px;
}

.items .item-data .button-mini {
    padding: 7px 24px;
    height: 37px;
    text-align: center;
    line-height: 25px;
    background-color: transparent;
    border: 1px solid #0f7a50;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    color: #0f7a50;
    text-shadow: none;
}

.items .item-data .button-mini:hover {
    background-color: #0f7a50;
    color: #fff;
}

.owl-carousel .owl-dots .owl-dot span {
    background-color: #0f7a50;
    width: 10px;
    height: 10px;
}

/* ---------------------- Menu ---------------------- */

.menu {
    min-height: 800px;
    background: url('../images/menu-BG.png') center no-repeat;
    background-size: 100% 100%;
    padding: 50px 0 22px 0;
}

.menu h1 {
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 100;
    color: #fff;
    margin-bottom: 0px;
}

.menu img {
    margin: 0 auto;
}

.menu p {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #c7c6c8;
    margin: 10px 0;
    font-size: 18px;
}

.menu .menu-tabs {
    margin-top: 50px;
}

.menu ul.tab-nav:not(.tab-nav-lg) {
    border-bottom: none;
}

.menu ul.tab-nav:not(.tab-nav-lg) li a {
    background-color: transparent;
    border-bottom: 1px solid #c7c6c8;
    font-family: Poppins, sans-serif;
    color: #c7c6c8;
    font-weight: normal;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.menu ul.tab-nav:not(.tab-nav-lg) li a:hover
{
    background-color: #fff;
    color: #000;
}

.menu ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
    top: 0px;
    background-color: #fff;
    color: #000;
}

.menu .menu-item {
    background-color: #fff;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    height: 180px;
}

.menu .menu-item .header {
    display: inline-flex;
}

.menu .menu-item .header p {
    color: #000;
}

.menu .tab-container {
    margin-top: 50px;
}

.menu .menu-item .header .item-number {
    background-color: #868686;
    float: left;
    padding: 0 15px;
}

.menu .menu-item .header .item-number p {
    font-family: Poppins, sans-serif;
    color: #fff;
    font-weight: 100;
}

.menu .menu-item .header .item-name p {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    padding-left: 10px;
    line-height: 1.1;
}

.menu .menu-item .body {
    border-top: 1px solid #ce9300;
    padding-left: 15px;
}

.menu .menu-item .body span {
    background-color: #ce9300;
    color: #fff;
    padding: 2px 10px 0px 10px;
    float: right;
    font-family: Poppins, sans-serif;
    margin-top: -1px;
    font-size: 18px;
}

.menu .menu-item .body p {
    font-size: 13px;
    text-align: left;
    color: #000;
    font-family: Poppins, sans-serif;
}

.menu .menu-item .button-mini {
    padding: 7px 24px;
    height: 40px;
    text-align: center;
    line-height: 28px;
    background-color: transparent;
    border: 1px solid #0f7a50;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    color: #0f7a50;
    text-shadow: none;
    margin: 0px;
}

.menu .menu-item .button-mini:hover {
    background-color: #0f7a50;
    color: #fff;
}

.menu .menu-item .center
{
    position: absolute;
    left: 30px;
    bottom: 44px;
}

/* ---------------------- About ---------------------- */

.about {
    background-color: #f2f2f2;
    padding-bottom: 50px;
}

.about h1 {
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 100;
    color: #000;
    margin-bottom: 0px;
}

.about img {
    margin: 0 auto;
}

.about p {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0 40px 0;
    font-size: 18px;
}

.about .content-wrap {
    margin: 0 60px;
}

.about .about-img
{
    margin-top: 100px;
}

.about .about-img img {
    width: 100%;
    height: 100%;
}

.about .about-text
{
    background-color: #fff;
    min-height: 450px;
    position: relative;
    width: 568px;
    right: 135px;
    box-shadow: 0 3px 11px 2px rgba(0, 0, 0, 0.1);
    padding: 40px 50px 30px 50px
}

.about .about-text h3
{
    font-size: 18px;
    color: #abaaaa;
    font-weight: 500;
    line-height: 1.9;
    margin-bottom: 0px;
}

.about .about-text span
{
    text-transform: uppercase;
    font-weight: 700;
    color: #8c8b8b;
    font-family: Poppins, sans-serif;
}


/* ---------------------- Contact Us ---------------------- */

.contact-us {
    background-color: #fff;
    padding: 50px 0;
}

.contact-us h1 {
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 100;
    color: #000;
    margin-bottom: 0px;
}

.contact-us img {
    margin: 0 auto;
}

.contact-us p {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0 40px 0;
    font-size: 18px;
}

.contact-form
{
    margin-top: 50px;
}

.sm-form-control
{
    border: none;
    border-bottom: 1px solid #dddddd;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    padding: 8px 0;
    margin-bottom: 30px;
}

.contact-form .button-mini
{
    padding: 11px 55px;
    height: 50px;
    line-height: 28px;
    background-color: transparent;
    border: 1px solid #0f7a50;
    color: #0f7a50;
    font-size: 18px;
    margin-top: 10px;
    font-family: Poppins, sans-serif;
    text-shadow: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.contact-form .button-mini:hover
{
    background-color: #0f7a50;
    color: #fff;
}

.contact-us .contact-form p
{
    font-family: Poppins, sans-serif;
    color: #abaaaa;
    margin: 10px 0 0px 0;
    font-size: 11px;
}

/* ---------------------- Footer ---------------------- */

.footer
{
    background-color: #34322d;
    padding: 30px 0;
}

.footer p
{
    margin: 0;
    font-size: 16px;
    color: #807f7f;
}

.img-center
{
    display: inline-flex;
    margin-top: 15px;
}

.img-center img
{
    padding: 0 20px 0 20px;
}

.footer .terms
{
    margin-top: 15px;
}

.footer .terms a
{
    padding: 0 0 2px 0;
    text-transform: uppercase;
    color: #807f7f;
    font-size: 12px;
    margin: 0 10px;
    border-bottom: 1px solid;
}

.footer .terms a:hover
{
    border-bottom: none;
}

/* ---------------------- CopyRights ---------------------- */
.copyrights
{
    background-color: #252420;
    padding: 15px 0;
}

.copyrights p, a
{
    margin: 0;
    font-size: 13px;
    color: #807f7f;
    text-transform: uppercase;
    padding-top: 8px;
}

.copyrights a:hover
{
    color: #807f7f;
}

.copyrights .security img
{
    float: right;
}

/* ---------------------- Header Navigation ---------------------- */

.header-page
{
    margin-top: 52px;
    background-image: url('../images/slider.png');
    padding-top: 100px;
    padding-bottom: 40px;
}

.header-page h1
{
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 100;
    color: #fff;
    margin-bottom: 0;
}

.header-page img
{
    margin: 0 auto;
}

.header-page p
{
    font-family: Poppins, sans-serif;
    color: #fff;
    margin: 10px 0;
    font-size: 18px;
}

/* ---------------------- Login/Register ---------------------- */

.login
{
    padding: 80px 0 20px 0;
}

.login ul.tab-nav:not(.tab-nav-lg)
{
    border-bottom: none;
    margin: auto;
    width: 28%;
}

.login ul.tab-nav:not(.tab-nav-lg) li:first-child
{
    border-left: 1px solid #cae2d9;
    margin-left: 0;
}

.login ul.tab-nav:not(.tab-nav-lg) li a
{
    color: #0f7a50;
    font-family: Poppins,sans-serif;
    background-color: transparent;
    position: relative;
    left: -1px;
}

ul.tab-nav:not(.tab-nav-lg) li
{
    float: left;
    border: 1px solid #cae2d9;
    height: 41px;
    text-align: center;
    width: 138px;
}

.login ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a
{
    width: 160px;
    top: -1px;
    background-color: #0f7a50;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: normal;
}

#tab-responsive-2 > div > div > form > div:nth-child(2) > div:nth-child(2) > a
{
    float: left;
    position: relative;
    bottom: 25px;
    color: #0f7a50;
    font-family: Poppins, sans-serif;
    text-decoration: underline !important;
    font-weight: 600;
    text-transform: capitalize;
}

.login .button-mini
{
    width: 100%;
}


/* ---------------------- Cart ---------------------- */

.cart-page
{
    padding: 80px 0 40px 0;
}

.table > thead > tr > th
{
    border-bottom: 2px solid #ce9300;
    font-size: 20px;
    font-weight: normal;
    color: #000;
    font-family: Poppins, sans-serif;
}

.table > tbody > tr > td
{
    padding: 18px 0px 18px 9px;
    border-bottom: 1px solid #a7a7a7;
    vertical-align: inherit;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: #000;
}

.text-left
{
    text-align: left;
}

.text-center
{
    text-align: center;
}

.cart-page .table > tbody > tr > td > a
{
    font-size: 22px;
    color: #4a9b7b;
}

.cart-page .quantity-btn
{
    padding: 5px 9px 0px 9px;
    background: transparent;
    border: 1px solid #0f7a50;
    height:32px;
}

.cart-page .cart-quantity
{
    display: inline-flex;
}

.cart-page .quantity-btn:active
{
    background-color: #0f7a50;
    color: #fff;
}

.cart-page p
{
    padding: 6px 18px 2px 18px;
    border: 1px solid #0f7a50;
    margin: 0;
}

.cart-page .to-checkout
{
    margin-top: 30px;
}

.cart-page .button-mini
{
    padding: 7px 24px;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 25px;
    background-color: #0f7a50;
    border: 1px solid #0f7a50;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    color: #fff;
    text-shadow: none;
}

.cart-page .to-checkout h3
{
    padding-top: 17px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
}

/* ---------------------- Catering ---------------------- */

.catering
{
    padding: 25px 0 20px 0;
}

.catering img
{
    margin: 0 auto;
}

.catering p
{
    margin: 0;
    font-family: Poppins, sans-serif;
    color: #0f7a50;
}

.catering .why-us
{
    display: inline-flex;
    width: 100%;
}

.search-bar
{
    display: none;
    position: absolute;
    right: 25px;
    width: 30%;
    top: 0;
}

.search-bar i
{
    position: relative;
    top: -67px;
    right: -407px;
    font-size: 20px;
}

.search-mob .sm-form-control
{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dddddd;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    padding: 8px 0;
    margin-bottom: 30px;
}

.search-mob i
{
    position: relative;
    top: -66px;
    font-size: 18px;
    right: -177px;
}


/* ---------------------- Check Out ---------------------- */

.checkout
{
    padding: 50px 0 50px 0;
}

.checkout h3
{
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding-bottom: 8px;
}

.checkout .privacy-a p
{
    margin: 0 0 30px 0;
    font-family: 'Raleway', sans-serif;
}

.checkout .img-center img {
    padding: 0 20px 0 0;
    height: 20px;
    margin-bottom: 30px;
}

.checkout .privacy-a a
{
    text-transform: capitalize;
    color: #0f7a50;
    border-bottom: 1px solid;
}

.your-orders
{
    margin-top: 50px;
}

.your-orders h1
{
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    margin: 0 0 15px 0;
}

.total span, h1 > span:not(.nocolor)
{
    margin-left: 40%;
    font-family: 'Raleway', sans-serif;
    color: #000;
}

.gray-p
{
    color: #8d8d8d;
}

.checkout .button-mini {
    padding: 7px 24px;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 25px;
    background-color: #ce9300;
    border: 1px solid #ce9300;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    color: #fff;
    text-shadow: none;
}

.checkout .thanks
{
    font-size: 14px;
    margin-top: 30px;
}


/* ---------------------- Privacy ---------------------- */

.privacy-policy
{
    padding: 50px 0 40px 0;
}

.privacy-policy h3
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}